body {
	font-family: sans-serif;
}

.content {
	margin: 2em;
}

.sidebar {
	padding: 0;
	background-color: #f6f6f6;
	color: #121212;
}

.list-group-item {
	border: none;
	background-color: transparent;
}

#sensor-menu-header {
	margin: 1em 0 0.5em 0.5em;
}

.version-info {
	padding: 1em 1em 1em 2em;
}

.card {
	min-width: 10em;
}

.card-big {
	min-width: 30em;
}

.card-small {

}